<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Mern App Email</title>
</head>
<body class="m-0 p-0 ">
    <div class="container">
        <div class="row mb-3 mt-3">
            <div class="col-md-12 text-center">
                <span><img style="height: 140px; width: 140px; margin-top: -20px;" src="https://lezebre.lu/images/detailed/17/30460-Tesla.png" alt="tesla-logo"></span>
            </div>
        </div>
        <div class="row position-relative" style="margin-top: -20px;">
            <div class="col-md-12">
                <h2 class="text-center mb-3">Hello {{firstname}}</h2>
                <p class="display-4" style="font-size: 20px;">Thank you for visiting my website. hope you enjoyed it !</p>
                <p class="display-4" style="font-size: 20px;">if you require any further informations on my profile, skills or just to talk about your future tesla ! don't hesitate to contact me. </p>
                <p class="display-4" style="font-size: 20px;">If you would like to see more of my work, then please click here <span><img style="height: 18px;" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/white-right-pointing-backhand-index_emoji-modifier-fitzpatrick-type-3_1f449-1f3fc_1f3fc.png" alt="right-finger"></span><a style="color: black" href="https://www.sofianewebagency.fr/"> portfolio</a>.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <footer class="col-xs-12 h-25 text-center">
                   <span><img style="height: 30px;" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/apple/237/victory-hand_emoji-modifier-fitzpatrick-type-3_270c-1f3fc_1f3fc.png" alt="heart"></span>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>