@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.mediaSection-1, .mediaSection-2, .mediaSection-3, .mediaSection-4
{
    object-fit: cover;
}
a > span
{
    background: white !important;
}
.carousel-caption
{
    top: 15%;
}
video
{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modelsName
{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: -2%;
}

.btn-row
{
    z-index: 1000;
    top: 25%;
}
.btn-map
{
    top: 15%;
}
.modelsQuotes
{
    font-size: 22px;
    font-weight: lighter;
    display: none;
}
.S3HomeTitle
{
    top: 20%;
    z-index: 1;
}
.S3HomeCta
{
    top: 25%;
    z-index: 1;
}
.map-heading
{
    font-size: 25px;
}
.mapSidebarHr
{
    height: 1px !important;
    border-top: 1px solid black;
}
.cta
{
    width: 20%;
    border: solid 3px;
    padding: 8px;
}
.mapCta
{
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.sidebar
{
    border-radius: 5px !important;
}
.mapSidebarContainer
{
    top: 30%;
    transform: translateY(-50%);
}
.visit-store
{
    text-decoration: underline; 
    font-size: 15px;
}
@media screen and (max-width: 750px)
{
    .modelsName
    {
        font-size: 30px;
        margin-top: -12%;
    }
    .section2
    {
        margin-top: 25% !important;
    }
    .onTheRoad
    {
        font-size: 40px;
    }
    .cta
    {
        top: 30%;
        width: 85%;
    }
    .btn-row
    {
        top: 70%;
    }
    .modelsQuotes
    {
        display: block;
        font-size: 17px;
    }
    .btn-map
    {
        top: initial;
        bottom: 0;
    }
    .mapSidebarContainer
    {
        top: unset;
        transform: unset;
        bottom: 0;
        margin-bottom: 25%;
    }
    .mapCta
    {
        display: block;
    }
    .S3HomeTitle
    {
        top: 20%;
    }
    .S3HomeCta
    {
        top: unset;
        bottom: 15%;
    }
    
}
